{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1>Welcome</h1>
    <p>
        This site is designed to serve a Messianic Jewish community that has weekly readings from the Torah, Prophets, and the Besorot
        (gospels in the New Testament). We try to include as many of our members as possible in participating in the public reading of
        the Torah, as well as engaging in personal and <i>havruta</i> study during the week. For that reason, a site where people can find
        the readings for the week is very helpful.
        
        Some key point for understanding the context of the readings include:
        <ul>
            <li>For more information about our community, see <a href="https://www.ruachisrael.com/">our website</a></li>
            <li>To keep our Torah readings shorter, we use a seven-year cycle wherein we read one entire <i>aliyah</i> on a given Shabbat. This means there is only a single reading from the Torah each Shabbat, unless there is a special maftir (e.g. Rosh Chodesh, Shabbat Zakhor, <i>chol ha-mo'ed</i>, etc.).</li>
            <li>Holidays typically do not have seven <i>aliyot</i>, so we display the entirety of the Torah reading for the holidays.</li>
            <li>For the <i>besorah</i> readings, we follow the <a href="http://ourrabbis.org/main/resources/chayyei-yeshua-reading-cycle">Chayyei Yeshua readings cycle</a></li>
        </ul>
    </p>
</div>
{% endblock %}