{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Ruach Israel Readings {% endblock %}</h1>
    
    <table class="table">
    <tr>
        <th>Parasha</th>
        <th>Torah Reading</th>
        <th>Maftir</th>
        <th>Haftarah</th>
        <th>Besorah</th>
    </tr>
    <tr>
        <td>Vayetzei</td>
        <td>Genesis something...</td>
        <td>no maftir!</td>
        <td>1 Kings 233:21-234:11</td>
        <td>Matthew ...</td>
    </tr>
   </table>
{% endblock %}