{% extends 'base.html' %}

{% macro copyableReading(text, fullReading, besorah) -%}
    <div class="copyable"><span class="passage">{{ text }}</span>
        {% if text %}
            {% if fullReading and fullReading != text %}
                <br />
                <small>Full reading: {{ fullReading }}</small>
            {% endif %}
        <br/>
        <div class="action-buttons">
            <i class="bi bi-box-arrow-in-up-right read-button {% if besorah %}besorah{% endif %}"></i>
            <i class="bi bi-clipboard copy-button"></i>
        </div>
        {% endif %}
    </div>
{%- endmacro %}

{% block content %}

<div class="container">
    <div class="alert alert-warning">
        This page is a work in progress and may have bugs. Please double-check the readings elsewhere to ensure correctness.
    </div>
    <h1>Weekly Readings</h1>
    <table class="table readings">
    <tr>
        <th>Date</i></th>
        <th>Parasha</th>
        <th>Torah Reading</th>
        <th>Maftir</th>
        <th>Haftarah</th>
        <th>Besorah</th>
    </tr>
    {% for reading in services %}
    <tr>
        <td>{{ reading.date.strftime("%d %b %Y") }}</td>
        <td>
            <span class="copyable">{{ reading.name }}</span><br/>
            <span class="copyable">{{ reading.hebrewName }}</span><br/>
            {% if reading.additionalDescription %}
                <span class="copyable"><small>({{ reading.additionalDescription }})</small></span>
            {% endif %}
            <br />
        </td>
        <td>{{ copyableReading(reading.torahReading, reading.fullTorahReading) }}</td>
        <td>{{ copyableReading(reading.maftirReading or "", "") }}</td>
        <td>{{ copyableReading(get_shortened_haftarah(reading), reading.haftarahReading) }}</td>
        <td>{{ copyableReading(reading.besorahReading or "", "", true) }}</td>
    </tr>
    {% endfor %}

    </table>
    <div class="row justify-content-end">
        <a href="{{ url_for('index') }}?start_date={{ last_date }}">Next →</a>
    </div>

</div>
{% endblock %}