{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="alert alert-warning">
        <strong class="text-small">Warning!</strong> This is a work in progress. Holidays and other special readings are not yet implemented. Please inform us of any inaccuracies you come across.
    </div>
    <h1>Weekly Readings</h1>
    <p><em>Click on any text element to copy it to the clipboard</em></p>
    <table class="table">
    <tr>
        <th>Date</th>
        <th>Parasha</th>
        <th>Torah Reading</th>
        <th>Maftir</th>
        <th>Haftarah</th>
        <th>Besorah</th>
    </tr>
    {% for reading in readings %}
    <tr>
        <td>{{ reading.date.strftime("%d %b %Y") }}</td>
        <td>
            <span class="copyable">{{ reading.name }}</span><br/>
            <span class="copyable">{{ reading.hebrewName }}</span><br/>
            {% if reading.additionalDescription %}
                <span class="copyable"><small>({{ reading.additionalDescription }})</small></span>
            {% endif %}
        </td>
        <td><span class="copyable">{{ reading.torahReading }}</td>
        <td><span class="copyable">{{ reading.maftirReading or "" }}</span></td>
        <td><span class="copyable">{{ reading.haftarahReading }}</span></td>
        <td><span class="copyable">{{ reading.besorahReading or "" }}</span></td>
    </tr>
    {% endfor %}

    </table>
    <div class="row justify-content-end">
        <a href="{{ url_for('index') }}?start_date={{ last_date }}">Next →</a>
    </div>

</div>
{% endblock %}