{% extends 'base.html' %}

{% block content %}

<h1>Ruach Israel Readings</h1>
<table class="table">
<tr>
    <th>Date</th>
    <th>Parasha</th>
    <th>Torah Reading</th>
    <th>Maftir</th>
    <th>Haftarah</th>
    <th>Besorah</th>
</tr>
{% for reading in readings %}
<tr>
    <td>{{ reading.date }}</td>
    <td>{{ reading.name }}</td>
    <td>{{ reading.torahReading }}</td>
    <td></td>
    <td>{{ reading.haftarahReading }}</td>
    <td>{{ reading.besorahReading }}</td>
</tr>
{% endfor %}

</table>
{% endblock %}